In [1]:
# tuple

In [2]:
tup = 4,5,6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6),(7,8)

In [5]:
nested_tup

((4, 5, 6), (7, 8))

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
tup

(4, 5, 6)

In [8]:
tup =tuple('string')

In [9]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
tup[0]

's'

In [12]:
tup[1],tup[2]

('t', 'r')

In [13]:
tup = tuple(['foo',[1,2],True])

In [14]:
tup

('foo', [1, 2], True)

In [15]:
tup[2] =False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(3)

In [17]:
tup

('foo', [1, 2, 3], True)

In [18]:
(4,None,'foo') + (6,0) +('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [19]:
('foo','bar') *4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [20]:
tup = (4,5,6)

In [21]:
a,b,c = tup

In [22]:
b

5

In [23]:
a

4

In [24]:
tup = 4,5,(6,7)

In [25]:
a,b,(c,d) =tup

In [26]:
c

6

In [27]:
d

7

In [28]:
tmp = a

In [29]:
a = b

In [30]:
b

5

In [31]:
a

5

In [32]:
tmp

4

In [33]:
a,b = 1,2

In [34]:
a

1

In [35]:
2

2

In [36]:
b,a = a,b

In [37]:
a

2

In [38]:
b

1

In [39]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [41]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [42]:
values = 1,2,3,4,5

In [43]:
a,b,*rest =values

In [44]:
a,b

(1, 2)

In [45]:
rest

[3, 4, 5]

In [46]:
a = (1,2,2,2,3,4,2)

In [47]:
a.count(2)

4

In [56]:
a_list = [2,3,7,None]

In [57]:
tup = ('foo','bar','baz')

In [58]:
b_list = list(tup)

In [59]:
b_list

['foo', 'bar', 'baz']

In [60]:
b_list[1]

'bar'

In [61]:
b_list[1] ='peekaboo'

In [62]:
b_list

['foo', 'peekaboo', 'baz']

In [63]:
gen = range(10)

In [64]:
gen

range(0, 10)

In [65]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
b_list.append('dwarf')

In [67]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [68]:
b_list.insert(1,'red')

In [69]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [70]:
b_list.insert(2,'blue')

In [71]:
b_list

['foo', 'red', 'blue', 'peekaboo', 'baz', 'dwarf']

In [72]:
b_list.pop(2)

'blue'

In [73]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [74]:
b_list.pop(2)

'peekaboo'

In [75]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [76]:
# in 예약어를 사용해서 리스트에 어떤 값이 있는지 검사할 수 있다.

In [77]:
'dwarf' in b_list

True

In [78]:
# not 예약어를 사용해서 in 에약어를 반대 의미로 사용할 수도 있다.

In [79]:
'dwarf' not in b_list

False

In [80]:
# 리스트에 어떤 값이 있는지 검사하는 것은 리스트의 모든 값을 일일이 검사해야 하므로 해시 테이블을 사용한 파이썬의
#사전이나 집합 자료구조 처럼 즉각적으로 반환하지 않고 많이 느리다는 점을 기억하자

In [81]:
# 리스트 이어 붙이기

[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [82]:
# 리스트를 미리 정의해두었다면 extend 메서드를 사용해서 여러개의 값을 추가할 수 있다.
x = [4,None,'foo']

In [83]:
x.extend([7,8,(2,3)])

In [84]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [85]:
x[5]

(2, 3)

리스트를 이어 붙이면 새로운 리스트를 생성하고 값을 복사하게 되므로 상대적으로 연산비용니 높다는 점을 기억하자.
큰 리스트일수록 extend 메서드를 이용해서 기존의 리스트에 값을 추가하는것이 일반적으로 더 나은 선택이다.

In [88]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
    
# 위 코드가 아래 코드보다 좀더 빠르다.

everything= []
for chunk in list_of:
    everything = everything+chunk

NameError: name 'list_of_lists' is not defined

정렬
sort 함수를 이용해서 새로운 리스트를 생성하지 않고 있는 그대로 리스트를 정렬할 수 있다

In [90]:
a = [7,2,5,1,3]

In [91]:
a.sort()

In [92]:
a

[1, 2, 3, 5, 7]

sort는 편의를 위해 몇 가지 옵션을 제공한다. 그중 하나는 정렬 기준으로 사용할 값을 반환하는 함수이다. 예를들어 다음과같이
문자열이 들어있는 리스트를 문자열의 길이 순으로 정렬할 수있다.

In [93]:
b = ['saw','small','He','foxes','six']

In [94]:
b.sort(key=len)

In [95]:
b

['He', 'saw', 'six', 'small', 'foxes']

일반적인 순차 자료형의 정렬된 복사본을 생성하는 sorted함수도 살펴보자

## 이진 탐색과 정렬된 리스트 유지하기

내장 bisect 모듈은 이직 탐색과 정렬된 리스트에 값을 추가하는 기능을 제공한다. bisect.bisect 메서드는
값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환하며 bisect.insort는 실제로 정렬된 상태를 유지한 채
값을 추가한다.

In [96]:
import bisect

In [97]:
c = [1,2,2,2,3,4,7]

In [98]:
bisect.bisect(c,2)

4

In [99]:
bisect.bisect(c,5)

6

In [100]:
bisect.insort(c,6)

In [101]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

bisect 모듈 함수는 리스트가 정렬된 상태인지 검사하지 않으므로 연산비용이 높을 수 있다.
그리고 정렬되지 않은 리스트에 대해 모듈 함수를 수행하면 오류 없이 수행되지만 정확하지 않은 값을 반환하게된다.

# 슬라이싱

리스트와 같은 자료형(배열,튜플,ndarray)은 색인 연산자 []안에 start:stop을 지정해서 원하는 크기만큼 잘라낼 수있다.

In [102]:
seq = [7,2,3,7,4,5,0,1]

In [103]:
seq[1:5]

[2, 3, 7, 4]

슬라이스에 다른 순차 자료형을 대입하는 것도 가능하다.

In [104]:
seq[3:4] = [6,3]

In [105]:
seq

[7, 2, 3, 6, 3, 4, 5, 0, 1]

색인의 시작위치에 있는 값은 포함되지만 끝 위치에 있는 값은 포함 되지 않는다.
따라서 슬라이싱 결과의 개수는 stop - start다.

색인의 시작값이나 끝값은 생략할 수 있는데, 이경우 생략된 값은 각각 순차 자료형의 처음 혹은 마지막 값이 된다.

In [106]:
seq[:5]

[7, 2, 3, 6, 3]

In [107]:
seq[3:]

[6, 3, 4, 5, 0, 1]

In [108]:
seq[-4:]

[4, 5, 0, 1]

In [109]:
seq[-6:-2]

[6, 3, 4, 5]

두 번째 콜론 다음에 간격을 지정할 수 있는데, 하나 걸러 다음 원소를 선택하려면 다음과 같이 표현한다.

In [110]:
seq[::2]

[7, 3, 3, 5, 1]

간격 값으로 -1을 사용하면 리스트나 튜플을 역순으로 반환한다.

In [111]:
seq[::-1]

[1, 0, 5, 4, 3, 6, 3, 2, 7]

# 3.1.3 내장 순차 자료형 함수

파이썬에는 순차 자료형에 사용할 수 있는 매우 유용한 함수가 있는데 이 함수들은 꼭 익혀서 기회가 될 때마다 사용할수 있어야 한다.

## enumerate

이 함수는 순차 자료형에서 현재 아이템의 색인을 함께 처리하고자 할때 흔히 사용한다.

In [112]:
i = 0
for value collection:
    i +=1

SyntaxError: invalid syntax (<ipython-input-112-b071742d0942>, line 2)

In [113]:
for i,value in enumerate(colletion):

SyntaxError: unexpected EOF while parsing (<ipython-input-113-856c35f0b525>, line 1)

색인을 통해 데이터에 접근할 때 enumerate를 사용하는 유용한 패턴은 순차 자료형에서의 값과 그 위치를 dict에 넘겨주는 것

In [120]:
some_list = ['foo','bar','baz']

In [121]:
mapping={}

In [122]:
for i,v in enumerate(some_list):
    mapping[i] =v

In [123]:
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

## sorted
sorted 함수는 정렬된 새로운 순차 자료형을 반환한다.

In [125]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [126]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip
zip함수는 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성한다.

In [127]:
seq1 = ['foo','bar','baz']

In [129]:
seq2 = ['one','two','three']

In [130]:
zipped = zip(seq1,seq2)

In [131]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip 함수는 여러개의 순차 자료형을 받을수 있으며 반환되는 리스트의 크기는 넘겨받은 순차 자료형중 가장 짧은 크기로 정해진다.

In [133]:
seq3 = [False,True]

In [135]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

zip 함수의 아주 흔한 사용 예는 여러 개의 순차 자료형을 동시에 순회하는 경우인데 enumerate와 함께 사용되기도 한다.

In [136]:
for i ,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1},{2}'.format(i,a,b))

0: foo,one
1: bar,two
2: baz,three

zip 함수를 사용해서 이렇게 짝지어진 순차 자료형을 다시 풀어 낼 수도 있다. 이를 이용해서 리스트의 로우를 리스트의 컬럼으로
변환하는것도 가능하다. 문법은 다음과 같이 약간 복잡하다.

In [138]:
pitchers =[('Nolan','Ryan'),('Roger','Clemens'),('Shiling','Curt')]

In [139]:
first_name,last_name = zip(*pitchers)

In [140]:
first_name

('Nolan', 'Roger', 'Shiling')

In [141]:
last_name

('Ryan', 'Clemens', 'Curt')

## reversed
reversed는 순차 자료형을 역순으로 순회한다.

In [142]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#3.1.4 dict
dict는 파이썬 내장 자료구조 중에서 가장 중요하다. dict는 유연한 크기를 가지는 키-값 쌍으로, 키와값은 모두 파이썬 객체이다.
dict을 생성하는 방법은 중괄호 {}를 사용하여 콜론으로 구분된 키와 값을 둘러싸는 것이다.

In [143]:
empty_dict ={}

In [144]:
d1 = {'a':'some value','b':[1,2,3,4]}

In [145]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [149]:
d1[7]='an integer'

In [150]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [151]:
d1['b']

[1, 2, 3, 4]

In [152]:
'b' in d1

True

del 예약어나 pop 메서드를 사용해서 사전의 값을 삭제할 수 있다.

In [153]:
d1[5]='some value'

In [154]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [155]:
d1['dummy'] = 'another value'

In [156]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [157]:
del d1[5]

In [158]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [159]:
ret = d1.pop('dummy')

In [160]:
ret

'another value'

In [161]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

keys와 values 메서드는 키와 값이 담긴 이터레이터를 반환한다. 키-값 쌍은 일정한 기준으로 정렬되어 있진 않지만 keys메서드와 values메서드
에서 반환 하는 리스트는 같은 수서를 가진다.

In [163]:
list(d1.keys())

['a', 'b', 7]

In [164]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

update 메서드를 사용해서 하나으 ㅣ사전을 다른 사전과 합칠 수 있다.

In [166]:
d1.update({'b':'foo','c':12})

In [167]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

update메서드는 사전 값을 그 자리에서 바꾸므로 이미 존재하는 키에 대해 update를 호출하면 이전 값은 사라진다.

## 순차 자료형에서 사전 생성하기
두 개의 순차 자료형의 각 원소를 짝지어서 사전으로 만드는 일은 흔히 접하게 된다. 그렇게하기 위해 아마 다음과 같은 코드를 작성하게 될것이다.

In [169]:
mapping = {}
for key,value in zip(key_list,value_list):
    mapping[key]=value

NameError: name 'key_list' is not defined

본질적으로 사전은 2개짜리 튜플로 구성되어 있으므로 dict 함수가 2개짜리 튜플의 리스트를 인자로 받아서 사전을 생성하는
일은 그다지 놀라운 일이 아니다.

In [170]:
mapping = dict(zip(range(5),reversed(range(5))))

In [171]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## 기본값
아래는 매우 일반적인 로직이다

In [172]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'key' is not defined

사전 메서드인 get과 pop은 반환할 기본값을 받아서 위 코드에서 if-else블록을 아래처럼 간단하게 작성할수있다.

In [173]:
value = some_dict.get(key,default_value)

NameError: name 'some_dict' is not defined

get 메서드는 기본적으로 해당 키가 존재하지 않을 경우 None을 반환하며, pop 메서드는 에외를 발생시킨다. 보통 사전에 값을
대입할 때는 리스트 같은 다른 컬렉션에 있는 값을 이용하는데, 예를 들어 여러 단어를 시작 글자에 따라 사전에 리스트로 저장하고
싶다면 다음처럼 할 수 있다.

In [178]:
words = ['apple','bat','bar','atom','book']

In [179]:
by_letter={}

In [180]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [181]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

## 3.1.5 집합
사전과 유사하지만 값은 없고 키만 가지고 있다고 생각하면 된다.
집합(set)은 두가지 방법으로 생성할수 있는데 set함수를 이용하거나 중괄호를 이용해서 생성할 수 있다.

In [182]:
set([2,2,2,1,3,3,])

{1, 2, 3}

In [183]:
{2,2,2,1,3,3,4,4,5,}

{1, 2, 3, 4, 5}

집합은 합집합,교집합,차집합,대칭차집합 같은 산술 집합 연산을 제공한다. 다음과 같은 두개의 집합이 있다고하자

In [184]:
a = {1,2,3,4,5}

In [185]:
b = {3,4,5,6,7,8}

두 집합의 합집합은 두 집합의 모든 원소를 모은 집합니다. union 메서드를 사용하거나 | 이상연산자로 구분 할 수있다.

In [186]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [187]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

교집합은 두 집합에 공통으로 존재하는 원소만 모은 집합니다. intersection 메서드를 사용 하거나 & 이항 연산자로 구할 수있다.

In [188]:
a.intersection(b)

{3, 4, 5}

In [189]:
a&b

{3, 4, 5}

## 3.1.6 리스트,집합,사전표기법
리스트 표기법은 파이썬 언어에서 가장 사랑받는 기능 중 하나다. 이를 이용하면 간결한 표현으로 새로운 리스트를 만들 수 있다.

[expr for val in collection if condition]

In [190]:
result = []
for val in collection:
    if condition:
        result.append(expr)

NameError: name 'collection' is not defined

필터 조건은 생략 가능하다. 예를 들어 문자열 리스트가 있다면 아래처럼 문자열의 길이가 2이하인 문자열은 제외하고 나머지를 대문자로 바꾸는 것이 가능하다.

In [193]:
strings = ['a','as','bat','car','dove','python']

In [194]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

집합과 사전에 대해서도 리스트 표기법과 같은 방식을 적용 할 수 있다. 사전 표기법은 다음과 같다.

In [195]:
dict_comp ={key-expr : value-expr for value in collection if condition}

NameError: name 'collection' is not defined

## 중첩된 리스트 표기법
다음과 같이 영어 이름과 스페인어 이름을 담고 있는 리스트의 리스트가 있다고하자.

In [196]:
all_data = [['John','Emily','Michael','Mary','Steven'],
           ['Maria','Juan','Javier','Natalia','Pilar']]

In [197]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >=2]
    names_of_interest.extend(enough_es)

In [198]:
names_of_interest

['Steven']

In [199]:
result = [name for names in all_data for name in names if name.count('e')>=2]

In [200]:
result

['Steven']

---

In [202]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

In [203]:
flattend = [x for tup in some_tuples for x in tup]

In [204]:
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
flattend = []
for tup in some_tuples:
    for x in tup:
        flattend.append(x)

In [206]:
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]